---
layout: default
title: Glorious Model
---

<header class="intro">
    <h1>{{ page.title }}</h1>
</header>

<h2>Introduction</h2>
<p>Some introduction text to the model</p>

<h2>Administrative Information</h2>
<h3>Profile</h3>
<table>
    <tr>
        <th>Property</th>
        <th>Example Value</th>
    </tr>
    {% for e in site.data.m3.profile %}
        {% for item in e %}
		    {% if forloop.first %}<tr>
            {% endif %}
            <td>{{item}}</td>
        {% if item == profile.version %}
            {% break %}
        {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<h2>Class Definitions</h2>
<h3>Classes</h3>

{% for e in site.data.m3.classes %}
    {% for item in e %}
    <ul>
        <li>{{item}}</li>
    {% endfor %}
	</ul>
{% endfor %}

<p>Break</p>
<h2>Property Definitions</h2>

<table>
      {% for e in site.data.m3.properties %}
          {% if forloop.first == true %}
          <tr>
          {% for item in e %}
              <th>{{item[0]}}</th>
          {% endfor %}
          </tr>
          {% endif %}
          <tr>
          {% for item in e %}
              <td>{{item[1]}}</td>
          {% endfor %}
          </tr>
      {% endfor %}
</table>

<p>test link: https://github.com/Shopify/liquid/wiki/Liquid-for-Designers</p>
<p>The End</p>